<div class="split left">
  <div class="centered">
   <h1><br>Organisation<br>name</h1>
      
      <!-- <img src="assets/img/pro-pic.jpg" width="200" height="200"> -->
      <div>
        <h3 style = "color:rgb(183, 183, 248)">change your picture</h3>
      <div id="fileInput">
          <label for="FileID"><img src="assets/img/pro-pic.jpg" width="200" height="200"></label>
          <input type="file" id="FileID"/>
          
      </div>
  </div>
  <p>Admin ID <br>
   Admin name</p>
   <button > 
    <a routerLink="/homepage" routerLinkActive="active" >Log out</a>
   </button>
</div>

<div class="split right">
  <div class="centered"> </div>

  <div class="container">
    
    <div class="item">
      <nav>
        <a routerLink="/history" routerLinkActive="active" >Event History</a>
      </nav>
    </div>
    <div class="item">
      <nav>
          <a routerLink="/analysefeedbacks" routerLinkActive="active" >Analyse Feedbacks</a>
      </nav>
    </div>
    <div class="item">
      <nav>
          <a routerLink="/memberList" routerLinkActive="active" >Member List</a>
      </nav>
    </div>
    <div class="item">
      <nav>
          <a routerLink="/requestAdmin" routerLinkActive="active" >Admin position requests</a>
      </nav>
    </div>
    <div class="item">
      <nav>
          <a routerLink="/memberReports" routerLinkActive="active" >Membership reports</a>
      </nav>
    </div>
    
</div>


</div>

